<% content_for :title do %><%= current_article.title %><% end %>

<% content_for :keywords do %><%= current_article.tags.join(', ') %><% end %>

<% if current_article.data["cover"] %>
  <% content_for :cover do %>
    <%= current_article.data["cover"] %>
  <% end %>
<% end %>


<% wrap_layout :layout do %>

  <div class="announcement">
    <p>
      <% if yield_content(:announcement).blank? %>
        <%= partial 'shared/announcement' %>
      <% else %>
        <%= yield_content (:announcement) %>
      <% end %>
    </p>
  </div>

  <article class="post single">

    <%= partial 'shared/post', locals: { article: current_article } %>

  </article>

  <div class="comments">
    <%= disqus %>
  </div>
<% end %>